body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #0e0e10;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;
  background-color: #18181b;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.title-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

h1 {
  margin: 0;
  font-size: 22px;
  color: #ffffff;
}

.stats {
  margin-top: 10px;
  margin-bottom: 15px;
}

#refreshBtn {
  background-color: #3254ff;
  border: none;
  color: #ffffff;
  font-weight: 500;
  padding: 6px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#refreshBtn:hover {
  background-color: #00ff19;
  color: #0e0e10;
}

#timer {
  margin-top: 5px;
  color: #ccc;
  font-size: 14px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 15px 0;
}

.tabs button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}

.tabs button.active {
  background-color: #ffcc00;
  color: #000;
}

.search-box {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.search-box input {
  width: 80%;
  /*max-width: 400px;*/
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
  font-size: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #333;
}

tr:hover {
  background-color: #222;
}

button.favorite {
  background-color: #aeaeae;
  color: #000;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

button.favorite.active {
  background-color: #00cc66;
  color: #000000;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}

#lastUpdated {
  color: #a4a4a4;
  font-size: 13px;
  margin-top: 5px;
  text-align: right;
}

